body {
	background-color: #222b2e;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.center-screen {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.engine-list-container {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

.button-text {
	font-size: 180%;
	font-weight: bold;
}

.button-start {
 color: #28acb5
}

.button-stop {
 color: #e86256
}

.page-title {
	margin-bottom: 5%
}